@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");

:root {
  --dark-cyan: hsl(158, 36%, 37%);
  --dark-cyan-hover: hsl(158, 36%, 13%);
  --cream: hsl(30, 38%, 92%);
  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
  --fraunces: 'Fraunces', serif;
  --monserrat: 'Montserrat', sans-serif;
}  

*,
*::after, 
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: var(--cream);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

article {
  max-width: 600px;
  display: flex;
  flex-direction: row;
  background-color: var(--white);
  border-radius: 10px;
  overflow: hidden;
  margin: 20px;
  font-family: var(--monserrat);
}  

article > * {
  flex-basis: 50%;
}

.product-image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-content {
  padding: 20px;
}

.product-content .product-category {
  color: var( --dark-grayish-blue);
  font-family: var(--monserrat);
  font-size: 12px;
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 5px;
  margin: 10px 15px 0px;
}

.product-content h1 {
  color: var(--very-dark-blue);
  font-family: var(--fraunces);
  font-size: 32px;
  margin: 20px 15px 10px;
  font-weight: 700;
}

.product-content > p {
  color: var( --dark-grayish-blue);
  font-family: var(--monserrat);
  line-height: 25px;
  margin: 20px 15px 0px;
}

.price {
  display: flex;
  align-items: center;
  margin: 20px 15px 25px;
}

.price .product-current-price {
  color: var(--dark-cyan);
  font-family: var(--fraunces);
  font-size: 30px;
  font-weight: 700;
}

del {
  color: var( --dark-grayish-blue);
  font-family: var(--monserrat);
  font-size: 16px;
  text-decoration: line-through;
  margin-left: 25px;
}

button {
  width: 88%;
  display: flex;
  justify-content: center;
  color: var(--white);
  font-family: var(--monserrat);
  background-color: var(--dark-cyan);
  border: none;
  border-radius: 8px;
  padding: 15px;
  margin: 10px 15px;
}

.icon-cart {
  margin-right: 10px;
}

button:hover {
  background-color: var(--dark-cyan-hover);
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  article {
    flex-direction: column;
  }

  .product-content {
    padding: 20px 0px 20px 7px;
  }
}

.attribution { 
  position: absolute;
  bottom: 5px;
  font-size: 11px; 
  text-align: center; 
}

.attribution a { 
  color: hsl(158, 36%, 37%); 
}
